---
title: Jamstack Resources
layout: base 
---
<ul class="resources">
  {% assign resourcesList = resources | sort: "url" %}
  {% for r in resourcesList %}
    {% if r.title %}
      <li class="resource">
        {% if r.image %}
          <a class="concealed" href="{{r.url}}">
            <img
              src="{{ r.image }}"
              onError="this.remove(); console.log(this);"
              alt="*" />
          </a>
        {% endif %}
        <div class="title">
          <a href="{{ r.url }}">{{ r.title }}</a>
        </div>
        {% if r.hostname %}
          <div class="hostname">{{ r.hostname }}</div>
        {% endif %}
        <div class="description">{{ r.description }}</div>
      </li>
    {% endif %}
  {% endfor %}
</ul>